@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Intel One Mono", monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://i.redd.it/2-0-new-login-background-screen-in-4k-v0-469g20z46sae1.png?width=3840&format=png&auto=webp&s=a5a9aa6f64d38c99910ec0b8d44951c195dac38e');
    background-size: cover;
    background-position: center;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 10px;
    color: white;
    padding: 30px 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    backdrop-filter: blur(50px);
}

.container h1 {
    font-size: 2rem;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;
    font-size: 1rem;
    color: wheat;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: rgb(158, 158, 158);
}

.input-box i {
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 20%;
}

.lembrar-senha {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.lembrar-senha label input {
    accent-color: #f5f5f5;
}

.lembrar-senha a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.lembrar-senha a:hover {
    text-decoration: underline;
}

.login {
    width: 100%;
    height: 50px;
    background-color: white;
    margin-top: 10px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #333;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.login:hover {
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    color: white;
    transition: 0.5s;
}

.link-registro {
    font-size: 1rem;
    text-align: center;
    margin: 20px 0 15px;
}

.link-registro a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.link-registro a:hover {
    text-decoration: underline;
}
